body {
	font-size: 13px;
	font-family: 'Raleway';
	color: #91919;
	background-color: #f9f9f9;
}

div {
	display: block;
	left: 0;
	right: 0;
	padding: 0;
	text-align: left;
	background-color:#253B49;
}

div.withmargin {
	margin-left: 60px; 
}

header {
	padding: 20px 0;
}

h1 {
	font-size: 36px;
    font-weight: bold;
    font-style: normal;
    color: #F2CB7B;
}

h2 {
	margin-left: 40px; 
	font-size: 28px; 
	font-weight: bolder; 
	color: #253B49;
}

nav {
	display: block; 
	width: 100%;
	left: 0;
	right: 0;
	padding: 10px 0; 
	background-color: #8CD1B2;
}

a {
	color: #253B49;
	text-decoration: none;
}

a:hover {
	color: #B83F05;
	text-decoration: none;
}


ul {
	margin-left: 40px;
}

ul.ulformatted {
	font-size: 17px; 
	font-weight: bolder;
	margin-bottom: 45px;
}

li {
	display: inline;
	margin-right: 25px;
	float: right;
	text-transform: uppercase;
}

li.newmargin {
	margin-right: 300px;
}

span {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

table {
	margin-left: 50px;
}

td {
	width: 700px;
}

td.smallerwidth {
	width: 500px;	
}

td.nowidth {
	width: 0;
}

p {
	font-family: 'Open Sans', sans-serif; 
	font-size: 18px; 
	line-height: 1.5em; 
	margin-left: 40px;
}

p.fontsizehigher {
	font-size: 20px; 
}

p.changemargin {
	margin-left: 20px; 
}

p.footer {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	text-align: center;
}

img {
	border: 12px solid #253B49;
	border-radius: 25px;
}